.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.box-shadow{
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    
}

.margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.column{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: row;
}

