.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.member-section{
    background-color: #ebecf0;
    border-radius: 5px;
    padding: 5px;
    height: 60%;
    margin: 5px;
}
.box-shadow{
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

}
.box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
  }
.profile-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    
}

.margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.column{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: row;
}


.tertiary{
    background-color: #DDDDDD;
}

.secondary{
    background-color: #30475E;
}

.primary{
    background-color: #F05454;

}
.sidebanner{
    animation: float 3s ease-in-out infinite;
    animation-delay: 0s;
    width: 250px;
  }

.dark{
    background-color: #222831;
}

.item{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.item:hover{
    opacity: 0.7;
    cursor: pointer;
    scale: 1.05;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.font-normal{
    color:#30475E;
    font-weight: normal;
}

.font-bold{
    color:#30475E;
    font-weight: bolder;
}
