
.sidebar{
    width: 15vw;
    height: 100;
    background-color:white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    left:0;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;



}

.sidebar-item{
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 80%;
}